<!DOCTYPE html>
{% load staticfiles %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}On-line Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>

<body>

{% include 'shop/navbar.html' %}
<div class="container_fluid no-padding" id="carousel-index" >
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic" data-slide-to="5"></li>




              
             
            </ol>

            <!-- Wrapper for slides -->
             <div class="carousel-inner" role="listbox" >
             
              <div class="item active">
                  {{BGImagesModel}} 
                  {{BGImagesModel.image1}}
                  <a href="{{ BGImagesModel.get_absolute_url }}">
                <img class="image" src="{% if BGImagesModel.image1 %} <p>{{BGImagesModel.image.url}}</p> {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style=" height:600px; width:100%;">
              </a>
              </div>
            
              <div class="item">
                <img class="image"src="{% if BGImagesModel.image2 %}<p> {{ BGImagesModel.image2.url }}</p> {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..."style=" height:600px; width:100%;">
                
              </div>
              <div class="item">
                    <img class="image"src="{% if BGImagesModel.image3 %} {{ BGImagesModel.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..."style=" height:600px; width:100%;">
                    
                  </div>

                  <div class="item">
                        <img class="image"src="{% if BGImagesModel.image4 %} {{ BGImagesModel.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..."style=" height:600px; width:100%;">
                        
                      </div>
                      <div class="item">
                            <img class="image"src="{% if BGImagesModel.image5 %} {{ BGImagesModel.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..."style=" height:600px; width:100%;">
                            
                          </div>
                          <div class="item">
                                <img class="image"src="{% if BGImagesModel.image6 %} {{ BGImagesModel.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..."style=" height:600px; width:100%;">
                                
                              </div>
              
            </div>
          
            <!-- Controls -->
            <a class="left carousel-control "href=" #carousel-example-generic "role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
  
        </div>
       
       
         
            




</div>
<div class="container">
    <div class="row" style="margin-top: 6%">
         <button class="btn btn-info pull-right">
            {% with totail_items=cart|length %}
                {% if cart|length > 0 %}
                    My Shopping Order:
                    <a href="{% url "cart:cart_detail" %}" style="color: #ffffff">
                        {{ totail_items }} item {{ totail_items|pluralize }}, dt. {{ cart.get_total_price }}
                    </a>
                    {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
         </button>
    </div>
</div>
{% block content %}

{% endblock %}

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
</body>
</html>